
.login-wrapper {
    padding-top: 10%;
    display: flex;
    min-height: 60vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items:center;
}
.log-in{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



  input{
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    background-color:whitesmoke ;
  }


.button-login{
    border: none;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #494949;
}