
.login-wrapper {
    padding-top: 5%;
    display: flex;
    min-height: 20vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items:center;
}
.log-in{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



  input{
    padding: 0.5;
    border-radius: 10px;
    background-color:whitesmoke ;
  }


.button-login{
    border: none;
    background-color: rgb(83, 184, 83);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #494949;
}
