html, body {
    width: 100%;
    height: 100%;
    background-color: bisque;
    padding-bottom: 2%;
    
    
  }
.header{
    padding: 1%;
}
.button_{
    background-color: bisque;
    padding: 3%;
    color :black;
    cursor : pointer;
    border: none;
    border-bottom: 1px solid black;
    
}

.button_l{
    background-color: bisque;
    padding: 3%;
    color :black;
    cursor : pointer;
    border: none;
    
}
.Msg_containers{
    background-color: bisque;
    border: none;
    padding-top: 1% ;
    padding-bottom: 2%;
}

