html, body {
    width: 100%;
    height: 100%;
    background-color: bisque;
    
  }
.body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
.header{
    padding: 1%;
}
.button_l{
    background-color: bisque;
    border:none;
    padding: 3%;
    color :black;
    cursor : pointer;
    
    
}
.Msg_containers{
    background-color: bisque;
    border: 1px solid rgba(252, 249, 249, 0.411);
    padding-top: 1% ;
    padding-bottom: 2%;
}

.name_user{
    padding-top: 3%;
    font-size:smaller;
}
.mens{
    font-size: x-small;
}
.when_sended{
    text-align: right;
    font-size: x-small;
}