@font-face {
  font-family: 'Poppins';
  src: url('/public/fonts/Poppins/Poppins-Regular.ttf')
}

html, body {
  width: 100%;
  height: 100%;
  background-color: bisque;
  
}

.navbar {
  border-bottom: solid 2px #fabe70;
  /*border-top: solid 1px black;*/
  background-color: #fabe70 ;
}

/*.bottom-tab-nav {
  border-top: solid 2px #141414;
}*/

.nav-link,
.bottom-nav-link {
  color: #5b5a55;
}

.bottom-nav-link.active {
  color: #922c88;
}

.bottom-tab-label {
  font-size: 12px;
}
