
.bottom-navbar{
    background-color: #fabe70 ;   
}
.ml-auto{
    padding-right: 2%;
   
}
.navbar-brand{
    padding-inline-start: 2%;
    text-align: center;
}
.navbar{
    height: 8%;
    align-items: center;

}



