
.button-login {
    background-color: orange;
    border-color: orange;
    border-radius: 20%;
    color :white;
    cursor : pointer
}
.bottom-navbar{
    background-color: #fabe70 ;   
}
.nav-link{
    color:black;
}

